{%- extends 'invenio_theme/page.html' -%}

{% macro render_row(set, loop=None, indent=0) -%}
    <tr>
        <td>
            {% if loop %}
                {{ loop.index }}
            {% endif %}
        </td>
        <td>{{ indent*"-" }}<a href="{{ url_for(".edit_set", spec=set.spec) }}">{{ set.spec }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.description }}</td>
        <td>{{ set.search_pattern }}</td>
        <td><a class="btn btn-xs btn-danger" href="{{ url_for(".delete_set", spec=set.spec) }}">Delete</a></td>
    </tr>
    {% if set.oaiset %}
        {% for subset in set.oaiset %}
            {{ render_row(subset, indent=indent+1) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% block page_body%}
<div class="container">
    <h1>OAI-PMH</h1>
    <h2>List of sets</h2>
    <a class="btn btn-default" href="{{ url_for(".new_set")}}">New set</a>
    <table class='table'>
        <thead>
            <tr>
                <th></th>
                <th>Spec</th>
                <th>Name</th>
                <th>Description</th>
                <th>Query</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for set in sets %}
                {{ render_row(set, loop) }}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
