{%- extends config.OAISERVER_BASE_TEMPLATE %}

{% macro render_row(set, loop=None, indent=0) -%}
    <tr>
        <td>
            {% if loop %}
                {{ loop.index }}
            {% endif %}
        </td>
        <td>{{ indent*"-" }}<a href="{{ url_for(".edit_set", spec=set.spec)}}">{{ set.spec }}</td>
        <td>{{ set.name }}</td>
        <td>{{ set.description }}</td>
        <td>{{ set.search_pattern }}</td>
        <td><a class="button" href="/oaisettings/sets/{{ set.spec }}/delete">Delete</a></td>
    </tr>
    {% if set.oaiset %}
        {% for subset in set.oaiset %}
            {{ render_row(subset, indent=indent+1) }}
        {% endfor %}
    {% endif %}
{%- endmacro %}

{% block body %}
<div id="alert-message">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</div>
<h1>OAI-PMH sets</h1>
<h2>List of sets</h2>
<a class="button" href="/oaisettings/sets/new">New set</a>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Spec</th>
            <th>Name</th>
            <th>Description</th>
            <th>Query</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for set in sets %}
            {{ render_row(set, loop) }}
        {% endfor %}
    </tbody>
</table>

{% endblock %}
